In [159]:
import pandas as pd
import numpy as np
import datetime as dt

In [160]:
#make pandas display large datasets without '...'s
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [161]:
data = pd.read_csv('raw_data.csv',index_col=0)

In [162]:
data.sample(10) #what does the data look like?

,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
AnimalID,,,,,,,,,
A678963,NaN,2014-05-14 17:13:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Orange Tabby
A716278,Stefanie,2015-11-23 00:00:00,Transfer,Partner,Dog,Spayed Female,5 years,Australian Shepherd Mix,White/Red
A699526,Thor,2015-04-02 17:46:00,Adoption,NaN,Dog,Neutered Male,2 months,Black Mouth Cur Mix,Brown/Black
A704370,NaN,2015-06-08 09:39:00,Euthanasia,Suffering,Cat,Spayed Female,12 years,Domestic Shorthair Mix,Black
A706510,NaN,2015-06-30 09:00:00,Transfer,SCRP,Cat,Unknown,8 months,Domestic Shorthair Mix,Blue Tabby
A678575,Liam 2,2014-05-20 14:29:00,Transfer,Partner,Dog,Neutered Male,5 years,Shih Tzu,Tan/White
A674326,Tinkerbell,2014-03-13 14:25:00,Transfer,Partner,Cat,Intact Female,6 months,Domestic Shorthair Mix,Blue Tabby/White
A666283,Sen,2014-02-22 12:22:00,Adoption,NaN,Dog,Spayed Female,2 years,Pit Bull Mix,Brown Brindle/White
A666961,NaN,2013-11-11 15:24:00,Transfer,SCRP,Cat,Intact Male,2 years,Domestic Shorthair Mix,Black/White
A670716,Kitty,2014-01-13 15:52:00,Return_to_owner,NaN,Dog,Spayed Female,8 years,Australian Cattle Dog Mix,Sable

## standardize AgeuponOutcome to years

In [163]:
data.AgeuponOutcome.value_counts(dropna=False) #what are the old values? for comparison with the result

1 year       3969
2 years      3742
2 months     3397
3 years      1823
1 month      1281
3 months     1277
4 years      1071
5 years       992
4 months      888
6 years       670
3 weeks       659
5 months      652
6 months      588
8 years       536
7 years       531
2 weeks       529
10 months     457
10 years      446
8 months      402
4 weeks       334
9 years       288
7 months      288
12 years      234
9 months      224
1 weeks       171
11 months     166
1 week        146
13 years      143
11 years      126
3 days        109
2 days         99
14 years       97
15 years       85
1 day          66
6 days         50
4 days         50
16 years       36
5 days         24
0 years        22
NaN            18
17 years       17
5 weeks        11
18 years       10
19 years        3
20 years        2
Name: AgeuponOutcome, dtype: int64

In [164]:
def transform_to_years(age_string):
    '''takes as input the AgeuponOutcome feature of the raw data and outputs the corresponding number of years'''
    
    if age_string is np.nan:
        return np.nan
    
    split_string = age_string.split()
    
    if split_string[1].strip('s') == 'year':
        return float(split_string[0])
    
    elif split_string[1].strip('s') == 'month':
        return float(split_string[0])/12
        
    elif split_string[1].strip('s') == 'week':
        return float(split_string[0])/52
        
    elif split_string[1].strip('s') == 'day':
        return float(split_string[0])/365

In [165]:
data['AgeuponOutcome'] = data.AgeuponOutcome.apply(transform_to_years) #apply the function

In [166]:
data.AgeuponOutcome.value_counts(dropna=False) #looks good

1.000000     3969
2.000000     3742
0.166667     3397
3.000000     1823
0.083333     1281
0.250000     1277
4.000000     1071
5.000000      992
0.333333      888
6.000000      670
0.057692      659
0.416667      652
0.500000      588
8.000000      536
7.000000      531
0.038462      529
0.833333      457
10.000000     446
0.666667      402
0.076923      334
0.019231      317
9.000000      288
0.583333      288
12.000000     234
0.750000      224
0.916667      166
13.000000     143
11.000000     126
0.008219      109
0.005479       99
14.000000      97
15.000000      85
0.002740       66
0.010959       50
0.016438       50
16.000000      36
0.013699       24
0.000000       22
NaN            18
17.000000      17
0.096154       11
18.000000      10
19.000000       3
20.000000       2
Name: AgeuponOutcome, dtype: int64

## transform date column

In [167]:
#for now i just extract the year and month since these are the features we need for data understanding

data['year'] = data.DateTime.apply(lambda x: dt.datetime.strptime(x ,'%Y-%m-%d %H:%M:%S').year)
data['month'] = data.DateTime.apply(lambda x: dt.datetime.strptime(x ,'%Y-%m-%d %H:%M:%S').month)

## transform SexuponOutcome

In [168]:
data.SexuponOutcome.value_counts(dropna=False) #what are the old values?

Neutered Male    9779
Spayed Female    8820
Intact Male      3525
Intact Female    3511
Unknown          1093
NaN                 1
Name: SexuponOutcome, dtype: int64

In [169]:
def transform_sex(sex_string, neutralized = False):
    '''takes as input the SexuponOutcome feature and returns just the sex or if the animal was neutralized'''
    
    if (sex_string is np.nan) or (sex_string == 'Unknown'):
        return np.nan
    
    split_string = sex_string.split()
    
    if neutralized:
        if split_string[0] == 'Intact':
            return False
        else:
            return True
    else:
        return split_string[1]

In [170]:
#apply the function
data['neutralized'] = data.SexuponOutcome.apply(lambda x: transform_sex(x,True))
data['SexuponOutcome'] = data.SexuponOutcome.apply(transform_sex)

In [171]:
data.SexuponOutcome.value_counts(dropna=False) #looks good

Male      13304
Female    12331
NaN        1094
Name: SexuponOutcome, dtype: int64

In [172]:
data.neutralized.value_counts(dropna=False) #looks good

True     18599
False     7036
NaN       1094
Name: neutralized, dtype: int64

## finish

In [173]:
data.sample(10) #check another time

,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,year,month,neutralized
AnimalID,,,,,,,,,,,,
A697156,Wyatt,2015-03-01 17:25:00,Adoption,NaN,Dog,Male,0.750000,Bluetick Hound/Treeing Walker Coonhound,White/Tricolor,2015,3,True
A668125,Tina,2013-12-21 18:54:00,Adoption,NaN,Dog,Female,2.000000,Black Mouth Cur Mix,Tan/White,2013,12,True
A717570,Django,2015-12-15 17:25:00,Adoption,NaN,Cat,Male,0.166667,Domestic Medium Hair Mix,Orange Tabby/White,2015,12,True
A666585,Samantha,2014-02-03 14:56:00,Transfer,Partner,Cat,Female,1.000000,Domestic Shorthair Mix,Blue Tabby,2014,2,True
A665692,Mitzi,2014-02-21 13:30:00,Adoption,Foster,Dog,Female,2.000000,Chihuahua Shorthair,Buff,2014,2,True
A633999,NaN,2014-07-29 09:00:00,Transfer,SCRP,Cat,Female,2.000000,Domestic Shorthair Mix,Orange Tabby,2014,7,True
A717147,Freeway,2015-12-15 14:16:00,Adoption,NaN,Dog,Male,0.416667,Plott Hound Mix,Brown Brindle/White,2015,12,True
A691439,NaN,2014-11-05 09:00:00,Transfer,SCRP,Cat,NaN,0.666667,Domestic Shorthair Mix,Blue,2014,11,NaN
A681898,Sasha,2014-06-26 12:20:00,Adoption,NaN,Dog,Female,0.166667,Queensland Heeler Mix,Red/Red Tick,2014,6,True
A669070,Prince C.,2014-04-19 17:51:00,Adoption,NaN,Dog,Male,4.000000,Labrador Retriever Mix,Black/White,2014,4,True

In [174]:
#save data
#data.to_csv('transformed_data.csv',index_label='AnimalID')